.window {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content{
  background-color: #F8F8F8;
  max-width: 1400px;
  min-height: 800px;
  width: 100%;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,1,1,0.2);
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.leftHeader h1 {
  margin: 0;
}

.leftHeader {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.buttonAdd{
  height: 35px;
  background-color: #263238;
}

.buttonAdd:hover {
  background-color: #37474f;
}

.table {
  width: 100%;
  border-collapse: collapse;
  gap: 3rem;
}

.table thead{
  font-size: 18px;
  font-weight: 500;
}

.table tbody{
  text-align: center;
  font-size: 16px;
}

.table tbody tr td{
  margin-top: 20px;
  padding: 15px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.buttonModal {
  width: 100%;
  margin-top: 25px;
}

.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}