.content {
  display: flex;
  align-items: center;
  height: 100vh;
}

.welcome {
  width: 50%;
  height: 100vh;
  background-color: #0081a7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 685px;
}

.form_field {
  width: 100%;
}

.form_error {
  width: 100%;
}