.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.2s ease;

}

.bodyCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  max-width: 240px;
}

.headerCard {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.iconContainer {
  display: flex;
  align-items: center;
}
